html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrollbars */
    font-family: Arial, sans-serif;
}

#search-container {
    position: absolute;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000; /* Ensure it's above the map */
}

#search-bar {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 40%; /* Default width for larger screens */
}

/* Media query for screens 768px wide or smaller */
@media (max-width: 768px) {
    #search-bar {
        width: 90%; /* Adjusted width for smaller screens */
        flex-direction: column; /* Stack elements vertically */
    }

    #game-search {
        width: 100%;
        margin-bottom: 10px;
    }

    #search-button, #clear-button {
        width: 100%;
        margin: 5px 0;
    }

    #selected-games-display {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
}

#game-search {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

#search-button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

#clear-button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff4d4d;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

#map-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Full viewport height */
    margin: 0;
    padding: 0;
    z-index: 1; /* Ensure it's below the search container */
}

#map {
    width: 100%;
    height: 100%;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: none; /* Hidden by default */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
}

.autocomplete-item {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-item:hover {
    background-color: #e9e9e9;
}

.autocomplete-item input[type="checkbox"] {
    margin-right: 10px;
}
